
html{
    background: skyblue;
}

.blogContainer{
    background: skyblue;
    height: 100vh; 

    min-height: 100vh;

    display: flex;
    justify-content: center;
}

.blogBody{

    margin-top: 20vh;
    
    background: yellow;
    height: 70vh;
    width: 50vw;

}

/* Blog Title Container */ 
.blogTitleContainer{

    text-align: center;

    background: rgba(0,0,0,.5);
    width: 95%;
    height: 200px;
    margin-top: 5%;
    margin-left: 2.5%;
}

.blogbox{
    /*background: rgba(0, 0, 0, .5);*/
    margin-top: 10vh;
    width: 90vw;
}