
.project-info-container{
    width: 100%;
    height: 33%;
    margin-bottom: 1%;
}

.project-icon{
    cursor: pointer;
    float: left;
    padding: 1%;
    width:  8%;
}

.project-title{
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 3vw;
}

.project-des{
    font-family: 'Raleway', sans-serif;
    color: gray;
    font-size: 2vw;
    margin-left: 5vw;
    width: 80vw;
}


@media screen and (max-width:407px){
    .project-info-container{
        width: 100%;
        height: 26%;
        margin-bottom: 1%;
    }

    .project-icon{
        cursor: pointer;
        float: left;
        padding: 1%;
        width:  25%;
    }
    
    .project-title{
        color: gray;
        font-size: 6vw;
    }
    
    .project-des{
        color:white;
        font-size: 3vw;
        width: 60vw;
        margin-left: 25vw;
    }
    
}
